.header {
  grid-area: header;
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  border-bottom: 1px solid var(--dark-100);
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.right {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.iconButton,
.langButton {
  border: 1px solid var(--border-color);
  background: transparent;
  color: var(--text-primary);
  padding: 8px 12px;
  cursor: pointer;
}
