.trigger {
  align-items: center;
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--light-100);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 4px;
  transition: background-color 0.2s ease;
}

.trigger[data-state="open"] {
  color: var(--primary-500);
}

.dropdownContent {
  gap: 12px;
  padding: 18px 12px 12px;
}
