/* stylelint-disable selector-class-pattern */
.loginContainer {
  align-items: center;
  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 504px;
  padding-top: 30px;
  width: 378px;
}

.loginPage {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.authProviders {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.authIcon {
  color: var(--light-100);
}

.loginForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 48px);
}

.regItem {
  width: 100%;
}

.submitButton {
  width: 100%;
}

.forgotPassword {
  color: var(--light-900);
  font-size: var(--font-size-s);
  text-align: right;
  width: 100%;
}

.authText {
  color: var(--light-100);
  font-size: var(--font-size-m);
}

.authLink {
  color: var(--accent-500);
  font-size: var(--font-size-m);
}

/* stylelint-enable selector-class-pattern */
