.login_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  padding-top: 30px;
  width: 378px;
  height: 504px;
  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.auth_providers {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
