html {
  box-sizing: border-box;
  color-scheme: dark;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  text-size-adjust: 100%;
}

body {
  background-color: var(--dark-700);
  color: var(--light-100);
  display: flex;
  flex-direction: column;
  font-family: var(--font-inter), sans-serif;
  line-height: var(--line-height-m);
  min-height: 100%;
  overflow-x: hidden;
}

input,
button,
select,
textarea,
optgroup,
option {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

a {
  color: var(--accent-500);
  text-decoration: none;
}

a:hover {
  color: var(--accent-100);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

ul li,
ol li {
  list-style: none;
}

#__next {
  isolation: isolate;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark-900);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-300);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-100);
}
