:root {
  /* font-sizes */
  --font-size-xs: 12px; /* small_text, small_link */
  --font-size-s: 14px; /* regular_text_14, bold_text_14 */
  --font-size-m: 16px; /* regular_text_16, bold_text_16 */
  --font-size-l: 18px; /* H2 */
  --font-size-xl: 20px; /* H1 */
  --font-size-xxl: 26px; /* Large */

  /* line-heights */
  --line-height-s: 16px;       /* Для 12px текста */
  --line-height-m: 24px;       /* Стандарт для 14px-16px */
  --line-height-l: 30px;       /* Для средних заголовков */
  --line-height-xl: 36px;      /* Для крупных заголовков */

  /* font-weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

/* --- Section classes --- */

.large {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-xl);
}

.h1 {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xl);
}

.h2 {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

.h3 {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-m);
}

.regularText16 {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.boldText16 {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

.regularText14 {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.mediumText14 {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-m);
}

.boldText14 {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

.smallText {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
}

.semiBoldSmallText {
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-s);
}

.regularLink {
  color: var(--accent-500);
  cursor: pointer;
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-decoration: underline;
}

.smallLink {
  color: var(--accent-500);
  cursor: pointer;
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
  text-decoration: underline;
}
