.sidebar {
  border-right: 1px solid var(--dark-100);
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  max-width: 220px;
  min-height: 0;
  overflow-y: auto;
  padding: 72px 0 36px 60px;
  width: 100%;
}

.sidebarSection {
  display: flex;
  flex-direction: column;
}

.sidebarSection ul {
  list-style: none;
}

.sidebarSection li:not(:first-child) {
  margin-top: 24px;
}

.sidebarSection + .sidebarSection {
  margin-top: 60px;
}

.logoutSection {
  align-items: center;
  display: flex;
  justify-content: start;
  margin-top: auto;
  padding-top: 60px;
}
