.step {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.imageArea {
  background-color: var(--dark-900);
  flex: 1;
  overflow: hidden;
  position: relative;
}

.cropWrapper {
  height: 100%;
  width: 100%;
}

.image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
