.navLink {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;

  display: flex;
  align-items: center;
  gap: 12px;

  border-radius: 4px;

  color: var(--light-100);
  text-decoration: none;

  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    outline-color 0.2s ease;
}

@media (hover: hover) {
  .navLink:not(.disabled):hover {
    color: var(--accent-100);
  }
}

.navLink:not(.disabled):focus-visible {
  outline: 2px solid var(--accent-700);
  outline-offset: 2px;
}

.active {
  color: var(--accent-500);
}

.disabled {
  color: var(--dark-100);
  cursor: not-allowed;
  user-select: none;
}
