/* Модульные файлы css */
@import url("../styles/colorPalitre.css");
@import url("../styles/typography.css");
@import url("../styles/breakpoints.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
  height: 100%;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--dark-700);
  color: var(--light-100);
  display: flex;
  flex-direction: column;
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height-m);
  min-height: 100%;
  overflow-x: hidden;
}

a {
  color: var(--accent-500);
  text-decoration: none;
}

/* Настройка полосы прокрутки (Scrollbar) под темную тему */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark-900);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-300);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-100);
}
