.formContainer {
  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  margin-top: 72px;
  max-width: 378px;
  min-height: 432px;
  padding: 24px;
  width: 100%;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.description {
  color: var(--light-900);
  margin: 7px 0 23px;
}

.twoDescription {
  margin-bottom: 18px;
}

.sendButton {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 30px 0 36px;
}

.modalDescription {
  color: var(--light-100);
  font-weight: var(--font-weight-regular);
}

@media (width<576px) {
  .formContainer {
    background-color: transparent;
    border: none;
    margin-top: 17px;
    padding: 0;
  }

  .title {
    margin-bottom: 31px;
  }

  .twoDescription {
    margin-top: 107px;
  }
}
