.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 473px;
  width: 100%;
}

.title {
  color: var(--light-100);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px;
  order: 1;
  text-align: center;
}

.description {
  color: var(--light-100);
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 30px;
  max-width: 294px;
  order: 2;
  text-align: center;
}

.button {
  height: 36px;
  margin-bottom: 28px;
  max-width: 274px;
  order: 3;
  width: 100%;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  order: 4;
  width: 100%;
}

.image {
  height: auto;
  max-width: 473px;
  width: 100%;
}

@media (width <= 767px) {
  .section {
    min-height: calc(100% - 60px);
    padding: 1px 16px 32px;
  }

  .content {
    max-width: 360px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 26px;
    max-width: 330px;
  }

  .imageWrapper {
    margin-bottom: 48px;
    order: 3;
  }

  .image {
    height: auto;
    max-width: 330px;
    width: 100%;
  }

  .button {
    height: 48px;
    margin-bottom: 0;
    max-width: none;
    order: 4;
  }
}
