.overlay.overlay {
  background: rgb(0 0 0 / 58%);
  opacity: 1;
  z-index: 120;
}

@media (min-width: 769px) {
  .overlay.overlay {
    z-index: 1200;
  }
}

.content.content {
  background: var(--dark-300);
  border: 1px solid var(--dark-100);
  max-height: min(85dvh, 580px);
  width: min(calc(100vw - 32px), 560px);
  z-index: 121;
}

@media (min-width: 769px) {
  .content.content {
    z-index: 1201;
  }
}

.header.header {
  height: 56px;
  padding: 0 24px;
}

.title.title {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-m);
}

.closeButton.closeButton {
  height: 32px;
  width: 32px;
}

.mainContent.mainContent {
  max-height: calc(min(85dvh, 580px) - 56px);
  overflow-y: auto;
  padding: 24px;
}

@media (width <= 768px) {
  .content.content,
  .overlay.overlay {
    display: none;
  }
}
