/* stylelint-disable selector-class-pattern */
.signupContainer {
  align-items: center;
  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 648px;
  padding-top: 30px;
  width: 378px;
}

.registrationPage {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.consentContainer {
  display: flex;
  gap: 5px;
}

.authProviders {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.signupForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
  width: calc(100% - 48px);
}

.regItem {
  width: 100%;
}

.submitButton {
  width: 100%;
}

.consentText {
  color: var(--light-100);
  font-size: 12px;
}

.authText {
  font-size: 16px;
  color: var(--light-100);
}

.authLink {
  font-size: 16px;
  color: var(--accent-500);
}

.singUpTitle {
  color: var(--light-100);
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

/* stylelint-enable selector-class-pattern */
