.button {
  align-items: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semi-bold);
  justify-content: center;
  line-height: var(--line-height-m);
  outline: none;
  padding: 6px 24px;
  transition: 0.1s ease-in-out;

}

/* Disabled */
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;

}

/* 1. PRIMARY */
.primary {
  background-color: var(--accent-500);
  color: var(--light-100);
}

.primary:hover:not(:disabled) {
  background-color: var(--accent-100); /* Hover */
}

.primary:active:not(:disabled) {
  background-color: var(--accent-700); /* Active */
}

.primary:focus:not(:disabled) {
  /* Голубой аутлайн с отступом */
  background-color: var(--accent-500); /* Focus */
}

/* 2. SECONDARY (Серая, залитая) */
.secondary {
  background-color: var(--dark-300); /* Default */
  color: var(--light-100);
}

.secondary:hover:not(:disabled) {
  background-color: var(--dark-100); /* Hover */
}

.secondary:active:not(:disabled) {
  background-color: var(--dark-500); /* Active */
}

.secondary:focus:not(:disabled) {
  background-color: var(--dark-300);  /* Focus */
}

/* 3. OUTLINE */
.outline {
  background-color: transparent;
  border: 1px solid var(--accent-500); /* Default */
  color: var(--accent-500);
}

.outline:hover:not(:disabled) {
  border-color: var(--accent-100); /* Hover */
  color: var(--accent-100);
}

.outline:active:not(:disabled) {
  border-color: var(--accent-700); /* Active */
  color: var(--accent-700);
}

.outline:focus:not(:disabled) {
  border-color: var(--accent-700); /* Focus */
  color: var(--accent-700);
}

/* 4. LINK */
.link {
  background-color: transparent;
  border: none;
  color: var(--accent-500); /* Default */
  padding: 0;
}

.link:hover:not(:disabled) {
  color: var(--accent-100); /* Hover */
}

.link:active:not(:disabled) {
  color: var(--accent-700); /* Active */
}

.link:focus:not(:disabled) {
  border: 2px solid var(--accent-700);
}
