.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}

.titlePage {
  color: var(--light-100);
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xl);
}

.subTitle {
  color: var(--light-100);
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.btn {
  margin-top: 30px;
  width: 182px;
}

.confirmImage {
  height: 300px;
  margin-top: 50px;
  width: 432px;
}
