.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loading {
  align-items: center;
  color: var(--light-100);
  display: flex;
  flex: 1;
  justify-content: center;
}

.error {
  align-items: center;
  color: var(--dark-100);
  display: flex;
  flex: 1;
  justify-content: center;
}
