.formContainer {
  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  margin-top: 72px;
  max-width: 378px;
  min-height: 456px;
  padding: 24px;
  width: 100%;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.description {
  color: var(--light-900);
  margin: 7px 0 17px;
}

.sendButton {
  order: 1;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (width<576px) {
  .formContainer {
    background-color: transparent;
    border: none;
    margin-top: 17px;
    padding: 0;
  }

  .title {
    margin-bottom: 31px;
  }

  .sendButton {
    order: 2;
  }

  .box {
    margin-top: 53px;
  }
}
