.inputContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  position: relative;
  width: 100%;
}

.label {
  color: var(--light-900);
}

.inputWrapper {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.input {
  background-color: transparent;
  border: 1px solid var(--dark-100);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--light-100);
  height: 36px;
  padding: 0 12px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.input::placeholder {
  color: var(--light-900);
  opacity: 1;
}

/* --- СОСТОЯНИЯ (STATES) --- */

/* Focus */
.input:focus {
  border-color: var(--accent-300);
}

/* Disabled */
.input:disabled {
  border-color: var(--dark-300);
  color: var(--dark-100);
  cursor: not-allowed;
}

.input:disabled::placeholder {
  color: var(--dark-100);
}

/* Error */
.error .input {
  border-color: var(--danger-500);
}

.errorText {
  bottom: -23px;
  color: var(--danger-300);
  position: absolute;
}

/* Hover */
.input:hover:not(:disabled, :focus) {
  border-color: var(--light-700);
}

/* Active */
.input:active:not(:disabled) {
  border-color: var(--light-100);
  outline: none;
}

/* Error + Hover */
.error .input:hover:not(:disabled, :focus) {
  border-color: var(--danger-500);
}

/* --- ICONS --- */

.iconStart,
.iconEnd {
  align-items: center;
  color: var(--light-100);
  display: flex;
  justify-content: center;
  pointer-events: none;
  position: absolute;
}

.iconStart {
  left: 12px;
}

.iconEnd {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  pointer-events: auto;
  right: 12px;
}

.withIconStart {
  padding-left: 36px;
}

.withIconEnd {
  padding-right: 36px;
}
